<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header">
</head>
<body>
	<div th:replace="includes/menu :: menubar"></div>
	<div class="homecontainer">
		<main class="home-main-data">
			<div class="main-data-left"></div>
			<div class="main-data-right">
				<section class="section-hero">
					<div class="hero">
						<div class="hero-text-box">
							<h1 class="heading-primary">A smart farm Managemet   Wherever You are !!</h1>
							<p class="hero-description">Emerald Enterprise Poultry solutions unite all management tasks on your 
							farm into one software and one database.
						 It provides more security. </p>

							<div class="delivered">
								<div class="delivered-imgs">
									<img th:src="@{/images/users/user-1.jpg}" alt="User photo" /> <img
										th:src="@{/images/users/user-2.jpg}" alt="Userphoto" /> <img
										th:src="@{/images/users/user-3.jpg}"
										alt="User photo" /> <img
										th:src="@{/images/users/user-4.jpg}"
										alt="User photo" /> <img
										th:src="@{/images/users/user-5.jpg}"
										alt="User photo" /> <img
										th:src="@{/images/users/user-6.jpg}"
										alt="User photo" />
								</div>
								<p class="delivered-text">
									<span>250,000+</span> users last year!
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	</div>
	<div th:replace="includes/footer :: footer"></div>
</body>
</html>
