<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header">
</head>
<body>
	<div th:replace="includes/menu :: menubar"></div>
	<div class="listusercontainer">
		<div class="user-wrapper">
			<div class="middle" style="padding-left: 1%;">
				<div class="user-header">
					<h2>User List</h2>
				</div>
			</div>
			<div class="right"></div>
		</div>
		<br>
		<div class="content">
			<div class="middle" style="padding-left: 1%;">
				<table>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Username</th>
						<th>Action</th>
					</tr>

					<!-- loop over and print our users -->
						<tr th:each="user: ${users}">
							<td th:text="${user.firstName}"/>
							<td th:text="${user.lastName}"/>
							<td th:text="${user.phone}"/>
							<td th:text="${user.email}"/>
							<td th:text="${user.username}"/>

							<td>
								<!-- display the update link --> <a th:href="@{/user/update?userId={id}(id=${user.id})}">Update</a>
								| <a th:href="@{/user/delete?userId={id}(id=${user.id})}"
								onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">Delete</a>
							</td>
						</tr>
				</table>
			</div>
			<div class="right"></div>
		</div>
		<br> <br>
		<div class="content">
			<div class="left"></div>
			<div class="middle" style="padding-left: 1%; align-items: center;">
				<input type="button" value="Add User" onclick="window.location.href='add'; return false;" class="addupd-button" />
			</div>
			<div class="right"></div>
		</div>
	</div>
	<div th:replace="includes/footer :: footer"></div>
</body>
</html>

