<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Emerald Enterprise Management Solutions</title>
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<script th:src="@{/js/script.js}"></script>
	<link rel="shortcut icon" href="#">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script th:inline="javascript" type="text/javascript">
		const formatDate = (date) => {
			  let d = new Date(date);
			  let month = (d.getMonth() + 1).toString();
			  let day = d.getDate().toString();
			  let year = d.getFullYear();
			  if (month.length < 2) {
			    month = '0' + month;
			  }
			  if (day.length < 2) {
			    day = '0' + day;
			  }
			  return [month, day, year].join('/');
			}
	
		window.onload = function() {
		var dps = [ [ ], [ ] ];
		var chart = new CanvasJS.Chart("chartContainer", {
			exportEnabled: true,
			animationEnabled: true,
			title: {
				text: "Revenue"
			},
			subtitles: [{
				text: "Click Legend to Hide or Unhide Data Series"
			}],
			axisX: {
				title: "Date"
			},
			axisY: {
				title: "Revenue",
				prefix: "$"
			},
			toolTip: {
				shared: true
			},
			legend: {
				cursor: "pointer",
				verticalAlign: "top",
				itemclick: toggleDataSeries
			},
			data: [{
				type: "column",
				name: "Egg Income",
				showInLegend: true,
				yValueFormatString: "$#,##0",
				dataPoints: dps[0]
			},
			{
				type: "column",
				name: "Feed Expense",
				showInLegend: true,
				yValueFormatString: "$#,##0",
				dataPoints: dps[1]
			}]
		});
		 
		var yValue;
		var label;

		var list = [[${productions}]];

		for (i = 0; i < list.length; i++) {
			var production = list[i];
			yValue = parseFloat(production.price);
			label = formatDate(production.date);
			var id = (production.item == "Egg") ? 0 : 1;
			dps[id].push({
				label : label,
				y : yValue,
			});
		}
		
		chart.render();

		function toggleDataSeries(e) {
			if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
				e.dataSeries.visible = false;
			} else {
				e.dataSeries.visible = true;
			}
			e.chart.render();
		}
	}
	</script>
</head>
<body>
	<div th:replace="includes/menu :: menubar"></div>
	<div class="listproductioncontainer">
		<div class="prod-wrapper">
			<div class="left"></div>
			<div class="middle" style="padding-left: 1%;">
				<div class="prod-header">
					<h2>Production Details</h2>
				</div>
			</div>
			<div class="right"></div>
		</div>
		<br>
		<div class="content">
			<div class="left"></div>
			<div class="middle" style="padding-left: 1%;">
				<table>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Date</th>
						<th>Action</th>
					</tr>

					<!-- loop over and print production details-->
						<tr th:each="production: ${productions}">
							<td th:text="${production.item}"/>
							<td th:text="${production.quantity}"/>
							<td th:text="${production.price}"/>
							<td th:text="${#dates.format(production.date, 'MM/dd/yyyy')}"/>

							<td>
								<!-- display the update link --> <a th:href="@{/production/update?prodId={id}(id=${production.id})}">Update</a>
								| <a th:href="@{/production/delete?prodId={id}(id=${production.id})}"
								onclick="if (!(confirm('Are you sure you want to delete this record?'))) return false">Delete</a>
							</td>
						</tr>
				</table>
			</div>
			<div class="right"></div>
		</div>
		<br> <br>
		<div class="content">
			<div class="left"></div>
			<input type="button" value="Add Record" onclick="window.location.href='add'; return false;" class="addupd-button" />
			<div class="right"></div>
		</div>
		<div class="content">
			<div class="left"></div>
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
			<div class="right"></div>
		</div>
	</div>
	<div th:replace="includes/footer :: footer"></div>
</body>
</html>


