<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div th:fragment="menubar">
		<nav class="menubar">
			<div class="logo">
				<img th:src="@{/images/logo.png}">
			</div>
			<div class="menu">
				<a href="/">Home</a>
				<a href="/aboutus">About</a>
				<a href="/contactus">Contact</a>
			</div>

			<div class="login-menu">
			    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    				<a href="/logout">Logout</a>
			    </form>
				<div th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'Admin')}">          
				    <a th:href="@{/user/list}">User list</a>
				    <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Logout</a>
				</div>
				<div th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'User')}">          
				    <a th:href="@{/production/list}">Production List</a>
				    <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Logout</a>
				</div>
				<div sec:authorize="isAnonymous()">
					<a href="/signup">Sign up</a>
					<a href="/login">Login</a>
				</div>
			</div>
		</nav>
		<div class="welcomemessage"style="width: 100%; padding: 1px; display: flex;">
			<div class="left"></div>
			<div class="middle" sec:authorize="isAuthenticated()" style="color: #fff; margin-left: 30%; font-size: 1.6rem;">
			    Welcome, <span sec:authentication="name">FullName</span>
			</div>
			<div class="right"></div>
		</div>
	</div>
</body>
</html>
